<div class="author">
  <div class="window">
    <img class="image" src="/assets/images/invisible.gif" data-width="335" data-src="{{ site.url }}/assets/images/fiiv2.jpg" alt="Mike Timofiiv">
  </div>

  <div class="content">
    <h2>About the author</h2>

    <p>I am an expat/immigrant living in Amsterdam, Netherlands. I love to write, to take photos and to travel. Usually my writing (on this blog in particular) will be in those fields, along with a little philosophy or sociology or whatever happens to be on my mind.</p>

    <p>Hit me up on <a href="https://twitter.com/mtimofiiv">Twitter</a> or feel free to email me at <a href="mailto:blog@fiiv.io">blog@fiiv.io</a> if you want to contact me.</p>
  </div>
</div>
