<header class="site-header">
  <div class="content">
    <div class="branding">
      <a href="{{ site.baseurl }}/">
        <img class="image" src="/assets/images/invisible.gif" data-width="62" data-src="{{ site.url }}/assets/images/fiiv.jpg" alt="mike timofiiv's blog">
        <span class="title">{{ site.title }}</span>
      </a>
    </div>

    <nav>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
            <span>{{ my_page.title }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
