/* http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */

@font-face {
  font-family: 'Sorts Mill Goudy';
  src:
    url('/assets/fonts/GoudyStM-webfont.eot?') format('eot'),
    url('/assets/fonts/GoudyStM-webfont.woff') format('woff'),
    url('/assets/fonts/GoudyStM-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  src:
    url('/assets/fonts/GoudyStM-italic-webfont.eot?') format('eot'),
    url('/assets/fonts/GoudyStM-italic-webfont.woff') format('woff'),
    url('/assets/fonts/GoudyStM-italic-webfont.ttf') format('truetype');
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Chunk Five';
  src:
    url('/assets/fonts/Chunkfive-webfont.eot?') format('eot'),
    url('/assets/fonts/Chunkfive-webfont.woff') format('woff'),
    url('/assets/fonts/Chunkfive-webfont.ttf') format('truetype');
}
