.site-header {
  width: 100%;
  height: 100px;
  border-top: 6px solid $brand-color;
}

.site-header .content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.site-header .branding {
  padding: 20px 0;
  height: 60px;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.site-header .branding a {
  font-family: $headline-font-family;
  text-decoration: none;
  font-size: 30px;
  text-transform: capitalize;
}

.site-header .branding a img {
  border-radius: 50%;
  width: 58px;
  border: 2px solid white;
}

.site-header .branding a:hover img {
  border: 2px solid $brand-color;
}

.site-header .branding a span {
  font-size: 30px;
  position: relative;
  top: -20px;
  padding: 0 0 0 20px;
  color: white;
}

.site-header .branding a:hover span {
  color: $brand-color;
}

.site-header nav {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.site-header nav a {
  text-decoration: none;
  font-family: $headline-font-family;
  padding: 0 15px;
  background: white;
  color: $brand-color;
  font-size: 18px;

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.site-header nav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brand-color;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.site-header nav a:hover:before, .site-header nav a:focus:before, .site-header nav a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.site-header nav a span {
  position:relative;
  top: 35px;
}

.site-header nav a:hover {
  color: white;
}

.container {
  width: 100%;
}

.post-content, .post-header .content, .site-header .content, .post .comments, .blogroll, .author {
  width: 90%;
  max-width: 1000px;
  padding: 0 5%;
  margin: 0 auto;
}

.post-header {
  width: 100%;
  min-height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}

.post-header .transform {
  background-image: url('/assets/images/masthead-transform.png');
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: bottom;
  width: 100%;
  min-height: 700px;
}

.post-header .content {
  color: white;
  padding-top: 500px;
}

.post-header h1 {
  color: white;
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.post-header p {
  margin: 0;
  padding: 0;
}

.post-header .subhead {
  font-style: italic;
  font-size: 25px;
}

.post-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.post-content img {
  width: 100%;
}

.blogroll-post {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 0 15px 0;
  height: 200px;
  border-bottom: #ccc 1px solid;
  padding-bottom: 10px;
}

.blogroll-post:last-of-type {
  border-bottom: 0;
}

.blogroll-post .window {
  width: 33%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  opacity: 0.91;
}

.blogroll-post .window:hover {
  opacity: 1;
}

.blogroll-post .content {
  width: 63%;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 3%;
}

.blogroll-post h2 {
  margin: 0;
  padding: 0;
}

.blogroll-post h2 a {
  text-decoration: none;
}

.blogroll-post h2 a:hover {
  text-decoration: underline;
}

.blogroll-post p {
  margin: 0;
  padding: 0;
}

.author {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 50px;
  border-top: 1px solid #ccc;
}

.author .window {
  width: 33%;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.author .content {
  width: 63%;
  margin-left: 3%;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.author .window img {
  border-radius: 50%;
  width: 100%;
}

.site-footer {
  width: 100%;
  background: $brand-color;
  color: white;
  margin: 100px 0 0 0;
  padding: 0;
}

.site-footer p {
  text-align: center;
  margin: 0;
  padding: 75px 0;
}

.site-footer a, .site-footer a:visited {
  color: white;
}
