body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background: $background-color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font-family;
  color: $brand-color;
  font-weight: normal;
}

a, a:visited {
  color: $brand-color;
}

blockquote {
  border-left: $brand-color 10px solid;
  padding: 0 0 0 25px;
  margin: 30px;
  font-size: 24px;
  font-style: italic;
}

.share-tools {
  text-align: center;
  padding: 20px;
}

.share-btn {
  color: #ccc;
}

.share-btn:hover {
  color: $brand-color;
}

.share-action {
  color: $brand-color;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.newsletter-form {
  text-align: center;
  background: $aside-background-color;
  color: white;
  padding: 20px 0 40px 0;
}

.newsletter-form h2 {
  color: white;
  font-family: $base-font-family;
}

.newsletter-form input, .newsletter-form button {
  border-radius: 3px;
  border: 0px;
  background: white;
  color: $aside-background-color;
  font-size: 20px;
  height: 48px;
  padding: 0 10px;
}

.newsletter-form input {
  width: 300px;
}

.newsletter-form button {
  cursor: pointer;
  font-weight: bold;
}

.twitter-quote .twitter-tweet {
  margin: 0 auto;
  width: 100%;
}

.youtube-embed {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.youtube-embed embed, .youtube-embed iframe, .youtube-embed object, .youtube-embed video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.caption {
  color: lighten($text-color, 30%);
  font-size: 13px;
  text-align: center;
  margin-top: 2px;
}
