---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

// Our variables
$base-font-family: 'Sorts Mill Goudy', serif;
$headline-font-family: 'Chunk Five', sans-serif;
$base-font-size: 20px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit: 30px;

$text-color: #383838;
$background-color: #ffffff;
$brand-color: #ff4500;

@import 'fonts';
@import 'layout';
@import 'styling';
@import 'mediaqueries';
